*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.container{
    max-width: 66vw;
    max-height: 55vh;
    padding: 2rem 1rem;
    margin: 0 auto;
}

.header_container{
    margin-bottom: 2.5rem;
}

.main_container{
    /* max-width: 95vw; */
    /* width: 80%;
    padding: 30px;
    margin: 30px;  */
    /*height: 550px;*/
    /* padding: 2rem 1rem; */
    /* margin: 0 auto; */
    /* background-color: aqua; */
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
    /* grid-template-rows: repeat(2); */
    justify-content: center;
}

.grid_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
}
.main_container{
    height: 100%;
    width: 100%;
    /* background-color: rgb(69, 191, 191);
    border: 5px solid white; */
}

.card_container{
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
}

.card_container:hover .card_image{
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card_image_container{
    height: 100%;
    width: 100%;
    /* border-radius: 10px; */
    border: 2px solid black;
    background-color: black;
    border-radius: 10px;
}

.card_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: center;
    position: relative;
    border-radius: 10px;
}

.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.card_title{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    color: black;
}
.card_title:hover{
    color:blue;
}

.card_description{
    color: rgb(113,107,107);
    font-size: 1rem;
}

a{
    text-decoration: none;
}

/* .card_footer_container{
    font-family: fantasy;
    font: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.author_avatar_container{
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid black;
    border-radius: 30px;
    margin: 10px;
    overflow: hidden;
    background-color: rgb(90, 82, 82);
}

.author_name{
    color: rgb(42, 42, 148);
}

.author_date{
    color: rgb(71, 71, 79);
}

.author_info_container{
    display: flex;
    flex-direction: column;
}

.header_title{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.header_desc{
    max-width: 568px;
    text-align: center;
    /* margin-bottom: 0.1rem; */
    color: rgb(77, 73, 73);
    margin: 0 auto;
}

.card_footer_container{
    display: flex;
    justify-content: space-around;
}

.author_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.tag_container{
    border: 2px solid black;
    width: auto;
    height: 40px;
    margin: 10px;
    padding: 10px;
}
